

p {
    text-align: center;
}

.missao {
    font-size: 20px
}

em strong {
    color: red
}

.principal {
    background: #CCCCCC
    padding: 30px;
}

.lista1 {
    font-style: italic;
    font-size: 20px;
    padding: 20px 0;
    font-weight: bold;
}

.segunda {
    background:white;
    padding: 3em 0;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imgbeneficios {
    width: 50%;
    text-align: center;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.banner {
    width: 100%;
}

.tituloprincipal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}

.principal p {
    margin: 0 0 1em;  
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: i;
}
