body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
     position: absolute;
     top: 110px;
     right: 0;
 }
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}


footer {
    text-align: center;
    background: url("img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}

td, th {
   border: 1px solid #000000;
   padding: 8px 15px;
}

/* css da página inicial */
.banner {
    width:100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p {
    margin: 0 0 1em;
    width: 80%;
    text-align: center;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 136px;
    float: left;
    margin: 0 20px 20px 245px;
}

.benefpag {
    width: 640px;
    margin: 0 auto;
}
.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.imgbeneficios {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000;
}

.imgbeneficios:hover {
    opacity: 0.3;
}


.video {
    width: 560px;
    margin: 3em auto;
}

.lista1 {
    line-height: 1.5;
}

.lista1:first-child {
    font-weight: bold;
}
 
.principal {
    background: #fefefe;
}

.segunda {
    padding: 3em 0;
    background: #888888;
}

.lista1:before {
    content: "✭";
}

@media screen and (max-width: 480px) {
    .caixa, .principal, .benefpag, .mapa-conteudo, .video{
        width: auto; }
        h1 {
            text-align: center;
        }

    nav {
        position: static;
        margin-left: 10px;
    }

    .lista-beneficios {
        width: 100%;
        margin: 5px 5px;
    }
    .imgbeneficios {
        width: 100%;
    }
    .principal p {
        text-align: center;
        margin-left: 37px;
    }
}
